//color
$pcolor: #00500c;
$scolor:red;
$white:white;
$black:black;
$gray:gray;
$fp:rgb(4, 4, 159);
$lgray:#f8f8f9ad;
$credit:#00500c;
$mfooter:#e1f1e4;
$flink:black;
$menurightborder:#066e15;
$leftmenuback:#001e05;
$plite:#adefad;


//fonts
$pfont:'Arya', sans-serif;
$sfont: 'Mukta', sans-serif;


//
$fontsize:62.5%;
